{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps,
 [{core,
   {git, "https://github.com/exograd/erl-core.git", {branch, "master"}}},
  {b64,
   {git, "https://github.com/exograd/erl-b64.git", {branch, "master"}}},
  {imf,
   {git, "https://github.com/exograd/erl-imf.git", {branch, "master"}}},
  {uri,
   {git, "https://github.com/exograd/erl-uri.git", {branch, "master"}}}]}.

{shell, [{apps, [smtp]}]}.
