{cover_enabled, true}.
{erl_opts, [debug_info]}.
{dialyzer, [{plt_extra_apps, []},
            {warnings, [unknown]}]}.
{deps,
 [{et,
   {git, "https://github.com/galdor/erl-et.git", {branch, "master"}}},
 {uri,
   {git, "https://github.com/galdor/erl-uri.git", {tag, "v1.2.2"}}}]}.

{shell, [{apps, []}]}.
